<div ng-controller="editCtrl">
	<h1>Izmena Poruke</h1>

	<form>

		<div class="form-group">
			<label for="polje1">Naslov</label>
			<input id="polje1" class="form-control" ng-model="editEntity.naslov" />
		</div>
		<div class="form-group">
			<label for="polje2">Tip</label>
			<select id="polje2" class="form-control" ng-model="editEntity.tip">
				<option value="obaveštenje" ng-selected="editEntity.tip == 'obaveštenje'">obaveštenje</option>
				<option value="predlog" ng-selected="editEntity.tip == 'predlog'">predlog</option>
			</select>
		</div>
		<div class="form-group">
			<label for="polje3">Opis</label>
			<input id="polje3" class="form-control" ng-model="editEntity.opis" />
		</div>
		<div class="form-group">
			<label for="polje4">Potreban Procenat</label>
			<input id="polje4" class="form-control" ng-model="editEntity.potrebanProcenat" />
		</div>
		<div class="form-group">
			<label for="s1">Zgrada</label>
			<select id="s1" class="form-control" ng-model="editEntity.zgradaId">
				<option ng-repeat="e in zgrade" value="{{e.id}}" ng-selected="e.id == editEntity.zgradaId">{{e.adresa}}</option>
			</select>
		</div>

		<div class="form-group">
			<label for="podrzan">Prihvaćen</label>
			<input id="podrzan" class="form-control" ng-model="editEntity.prihvacen" readonly/>
		</div>

		<button class="btn btn-primary" ng-click="doEdit()">Sačuvaj</button>

	</form>

</div>